@(user: User)

@import helper.twitterBootstrap._

@main("Registration complete!") {
<legend>Welcome! @user.name</legend>

<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd>@user.email</dd>
</dl>
<dl class="dl-horizontal">
    <dt>あなたの名前</dt>
    <dd>@user.name</dd>
</dl>
<dl class="dl-horizontal">
    <dt>情報</dt>
    <dd>@user.toString()</dd>
</dl>
<p>
    <p>
        <a class="btn btn-primary" href="@routes.TaskController.tasks">タスク一覧</a>
    </p>
    <p class="">
        <a class="btn btn-warning" href="@routes.UserController.logout">ログアウト</a>
    </p>
</p>
}